.todo-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.todo-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5;
}

.todo-control input {
  font: inherit;
  padding: 0.5rem;
  width: 20rem;
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

.todo-control select {
  font: inherit;
  padding: 0.5rem;
  width: 20rem;
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

.todo-actions {
  text-align: right;
}
