.new-Todo {
  background-color: aliceblue;
  padding: 1rem;
  width: 50rem;
  margin: 2rem auto;
  max-width: 95%;
  border-radius: 10px;
  text-align: center;
}

.new-Todo button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: red;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-right: 1rem;
}
